.wholePage {
    margin-top: 7.5%;
}

.checkoutBtn {
    background-color: #0058ab;
    color: white;
    box-shadow: none;
    font-weight: bold;
}

.items {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2%;
}

.checkoutBtn {
    margin-bottom: 1%;

}

.cartTitle {
    display: flex;
    flex-direction: column;

}