.wholePage {
    margin-right: 1%;
    
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    background-color: #FEE715;
    box-shadow: 0 4px 2px -2px gray;

}

button {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.addToCart {
    background-color: transparent;
    border: 2px solid rgb(19,19,19);
    box-shadow: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.addToCart:hover {
    background-color: rgb(19,19,19);
    color: white;
    cursor: pointer;
}

.imagesUnder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.card img {
    max-height: 300px;
    max-width: 300px;
    display: block;
}